.contentRoot {
    @apply col-span-10 w-[100%] lg:w-[874px];
}

.root {
    @apply flex flex-col gap-3 md:gap-5 lg:mt-12;
}

.backButton {
    @apply rotate-180 transition-all duration-200 hover:cursor-pointer hover:brightness-200 active:rounded-[5px] active:ring-1 active:ring-[#fff]/20;
}

.title {
    @apply text-start text-[20px] font-normal tracking-[0.1em] md:text-[24px];
    font-family: "Roboto Mono", monospace;
}

.subTitle {
    @apply mb-2 text-[14px] font-normal tracking-[0.1em] md:text-[16px];
    font-family: "Inter";
}

.root {
    @apply mt-0 flex w-full flex-col;
}

.viewing {
    @apply mt-8 mb-4 tracking-[0.1em] text-[#DFD8F5];
    font-family: "Roboto Mono", monospace;
}

.table {
    @apply max-h-[45vh] min-h-[400px] overflow-auto pr-3;
}

.table::-webkit-scrollbar {
    width: 14px;
    background: #29203180;
    border-radius: 10px;
}

.table::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #935c2d;
    width: 2px;
    border: 4px solid #1e1924;
}

.row {
    @apply flex w-full flex-row border-b border-[#6A57A433] transition-all duration-150;
}

.checkboxCol {
    @apply flex items-center justify-center border-r-[1px] border-[#6A57A433] p-5;
}

.checkbox {
    @apply border-brand-purple/20 data-[state=checked]:border-brand-purple/60 h-[25px] w-[25px] rounded-[5px] border-2 bg-[#382A41]/40 transition-all duration-150 data-[state=checked]:bg-[#382a41];
}

.repositoryCol {
    @apply col-span-11 flex items-center gap-4 px-6 py-5;
}

.repositoryName {
    @apply text-[14px] font-normal tracking-wide hover:cursor-pointer hover:underline hover:underline-offset-2;
}

.repositoryVisibility {
    @apply border-brand-purple/20 flex h-[30px] items-center justify-center rounded-[5px] border bg-[#292031] px-2 text-[13px] font-medium text-[#DFD8F5];
}
